* {
	border: 0;
}
p {
	font-size: 20px;
	text-align: center;
}
header {
	background-color: #dfd8d8;
}
#board {
	background-color: #dfd8d8;
	width: 100%;
}
.count {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
#grn {
	color: green;
}
#blu {
	color: blue;
}
#purp {
	color: purple;
}
#yell {
	color: gold;
}
#orng {
	color: orange;
}
#red {
	color: red;
}
