body {    
    display: flex;
    flex-direction: column;
	background-color: rgb(3, 24, 60);
	width:100%;
}
.Header {
    text-align:center;
    height: 12rem;
}
.Abt {
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bolder;
	color:antiquewhite;
	text-shadow: 0 0px 29px rgb(139, 148, 179); 
}
.Name h1{
	text-align:center;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 3rem;
	color:azure;
}
.Intro {
	text-align: center;
	font-family: Courier, Monospace;
	font-weight: bold;
	color: chartreuse;
}

@media screen and (max-width: 400px) {
	.Header {
		height: 7rem;
	}
	.Name h1 {
		font-size: 1.6rem;
	}
}
